html,
body,
header,
#intro {
    height: 90%;
}


#intro {
    background: url("mainlbg4.JPG")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#intro-text {
    color: black;
}



