html,
body,
header {
    height: 90%;
    width: 100%;
}

nav a {
    font-size: 2vh;
    font-weight: bold;
}

.navbar {
    background-color: #404483;
    height: 6vh;
}

.navbar {
    position: fixed;
    top: 0;
    transition: top 1s ease-in-out;
   }

.navbar.hide {
    transform: translate(0,-100);
  }

#intro {
    background: url("./home/tim-mossholder-bo3SHP58C3g-unsplash.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

#intro-text {
    margin-top: 20vh;
    color: white;
}


#mission p {
    font-size: x-large;
}

.carousel {
    max-height: 70vh;
    max-width: 70vw;
    margin: auto;
}

.carousel-inner img{
    max-height: 70vh;
}









