.intro-background {
    background: url("../images/mainBanner.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
}

#intro {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#intro * {
    margin: 0;
}

#intro h2 {
    font-weight: 700;
    font-size: 4.5rem;
}

#intro hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    width: 100%;
    margin: 40px 0;
}

#intro h3 {
    font-weight: 500;
    font-size: 1.75rem;
    margin-bottom: 0.2rem;
}

#intro h4 {
    font-weight: 500;
    font-size: 1.5rem;
}

#mission {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.mission-text-section {
    flex-basis: 50%;
    margin: 20px;
}

.mission-text-section h4 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 20px;
}

.mission-text-section p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;  
}

.mission-img-wrapper {
    flex-basis: 40%;
}

.mission-img-wrapper img {
    width: 100%;
    flex-basis: 50%;
}

.service-list {
    width: 70%;
    margin: 0 auto;
}

.service-list .showcase-card {
    margin: 30px;
}

.home-carousel-container {
    width: 50%;
    margin: 30px auto;
}

.home-carousel-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

@media only screen and (max-width: 1000px) {
    .service-list {
        width: 95%;
    }

    .home-carousel-container {
        width: 95%;
        margin: 30px auto;
    }

    .home-carousel-image {
        height: 300px;
    }
}

@media only screen and (max-width: 575px) {
    .service-list .showcase-card {
        margin: 30px 0;
    }
}