nav {
    z-index: 100;
}

.nav-container {
    position: fixed;
    width: 100%;
}

.nav-container a {
    text-decoration: none;
}

.nav-bar {
    padding: 8px 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #404483;
    color: white;

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


nav a:hover {
    color: white;
}

.nav-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo-container {
    width: 50px;
    margin-right: 10px;
}

.nav-logo-container img {
    width: 100%;
}

.nav-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.nav-item {
    color: rgba(255,255,255,.5);
    font-weight: bold;
    margin: 0 10px;
    font-size: 1.25rem;
    transition: all ease-in-out 250ms;
}

.nav-item:hover {
    color: white;
}

.nav-item:hover .nav-about-dropdown-arrow {
    border-top: 7px solid white;
}

.nav-about-dropdown-arrow {
    width: 0; 
    height: 0;
    transition: all ease-in-out 250ms;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgba(255,255,255,.5);
    margin-left: 10px;
    cursor: pointer;
}

.nav-about-dropdown-container {
    display: flex;
    align-items: center;
}

.nav-about-dropdown {
    position: absolute;
    display: block;
    right: 0;
    width: 100px;
    list-style-type: none;
    padding: 0;
    background-color: white;
    text-align: left;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
}

.nav-about-dropdown a {
    display: block;
    margin: 5px auto;
    padding: 3px 25%;
    font-size: 2vh;
    text-decoration: none;
    color: #212529;
}

.nav-about-dropdown a:hover {
    background-color: rgb(240, 240, 240);
    color: #212529;
}

.nav-links {
    display: flex;
}

.nav-bars {
    color: rgba(255,255,255,.5);
    font-size: 25px;
    display: none;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 4px;
    padding: 4px 12px;
    transition: all ease-in-out 100ms;
}

.nav-bars:hover {
    background-color: rgba(255,255,255,.1);
}

.nav-mobile-dropdown {
    display: none;
}

@media only screen and (max-width: 720px) {
    .nav-bars {
        display: block;
    }

    .nav-right {
        display: none;
    }

    .nav-mobile-dropdown {
        display: block;
    }
    
    .nav-about-dropdown-arrow {
        display: inline-block;
    }

    .nav-about-dropdown-container {
        display: inline-block;
    }

    .nav-links > * {
        padding: 10px;
    }

    .nav-links {
        display: flex;
        width: 80%;
        margin: 0 auto;
        border-radius: 0 0 5px 5px;
        flex-direction: column;
        text-align: center;
        background-color: #404483;
    }

    .nav-about-dropdown {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 210px;
    }
}