.nav-bar {
    z-index: 100;
    padding: 8px 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #404483;
    color: white;

    position: fixed;
    top: 0;

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.nav-bar a {
    text-decoration: none;
}

nav a:hover {
    color: white;
}

.nav-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo-container {
    width: 50px;
    margin-right: 10px;
}

.nav-logo-container img {
    width: 100%;
}

.nav-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.nav-item {
    color: rgba(255,255,255,.5);
    font-weight: bold;
    margin: 0 10px;
    font-size: 1.25rem;
    transition: all ease-in-out 250ms;
}

.nav-item:hover {
    color: white;
}

.nav-item:hover .nav-dropdown-arrow {
    border-top: 7px solid white;
}

.nav-dropdown-arrow {
    width: 0; 
    height: 0;
    transition: all ease-in-out 250ms;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgba(255,255,255,.5);
    margin-left: 10px;
    cursor: pointer;
}

.nav-dropdown-container {
    display: flex;
    align-items: center;
}

.nav-dropdown {
    position: absolute;
    display: block;
    right: 0;
    width: 100px;
    list-style-type: none;
    padding: 0;
    background-color: white;
    text-align: left;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
}

.nav-dropdown a {
    display: block;
    margin: 5px auto;
    padding: 3px 25%;
    font-size: 2vh;
    text-decoration: none;
    color: #212529;
}

.nav-dropdown a:hover {
    background-color: rgb(240, 240, 240);
    color: #212529;
}