html,
body,
header {
    height: 90%;
    width: 100%;
}

nav a {
    font-size: 2vh;
    font-weight: bold;
}

.navbar {
    background-color: #404483;
    height: 6vh;
}

.navbar {
    position: fixed;
    top: 0;
    transition: top 1s ease-in-out;
   }

.navbar.hide {
    transform: translate(0,-100);
  }