html,
body,
header {
    height: 90%;
    width: 100%;
}

nav a {
    font-size: 2vh;
    font-weight: bold;
}

.navbar {
    background-color: #404483;
    height: 6vh;
}

.navbar {
    position: fixed;
    top: 0;
    transition: top 1s ease-in-out;
   }

.navbar.hide {
    transform: translate(0,-100);
  }

#abtlandingimg {
    background: url("kaleb-tapp-J59wWPn09BE-unsplash.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

#abtlandingimg  h1 {
    vertical-align: middle;
}

#abtlandingimg-text {
    margin-top: 20vh;
    color: white;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.bounce {
	border-radius:50%;
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}